# Visual Studio
.vs/
out/
*.sln
*.suo
*.user
*.sdf
*.ipch
*.opensdf
Debug/
Release/
x64/

# CMake / Build folders
build/
win32-build/
cmake-build-debug/
CMakeCache.txt
CMakeFiles/

# Cocos generated
bin/
cocos2d/
# 注意：通常cocos2d引擎源码很大，有的团队选择不提交cocos2d文件夹，让每个人自己去setup。
# 但为了你和队友协作方便，且是课程作业，建议把 cocos2d 文件夹也提交上去，虽然第一次 push 会很大。
# 如果你想提交引擎代码，就不要忽略 cocos2d/。
# 如果不想提交，就取消下面这行的注释：
# cocos2d/

# System
.DS_Store
Thumbs.db